@font-face {
    font-family: 'LouisCafe'; 
    src: url('Louis George Cafe.ttf');
}

* {
    font-family: "LouisCafe";
}

body {
    font-family: "LouisCafe";
}

.Select-menu-outer {
    display : block !important;
}
